./ang_app/dist/styles.css
./ang_app/dist/scripts/scripts.js               
./ang_app/dist/scripts/templates.js
./mob_app/dist/css/compiled.styles.css                         
./mob_app/dist/scripts/scripts.js
./mob_app/dist/scripts/templates.js
