<div ng-click="getRotor()">
  <h3>Rotor</h3>
  <hr>
  <button class="btn btn-primary" ng-click="createSlots(rotor)">Create Slots</button>
  <div ng-repeat="(day, members) in rotor track by $index" style="display: inline-flex; margin-bottom: 20px;" class="col-md-6">
    <table class="table">
      <thead>
        <caption class="text-center"><b ng-bind="day"></b></caption>
        <tr>
          <th>Name</th>
          <th>Shift?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="staff in members">
          <td ng-bind="staff.name"></td>
          <td>9-5?</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
