<style type="text/css" media="screen">
img {
  width: 75px;
  height: 90px;
}

.staffMember {
  padding: 15px;
  margin: 10px;
  border: solid 1px hotpink;
  border-radius: 5px;
  background: lightpink;
  min-height: 25px;
}

</style>
<div>
  <div>
    <h3>Staff</h3>
    <hr>
  </div>
  <div>
    <div ng-repeat="staff in staffMembers" class="staffMember col-md-5">
      <div class="col-md-3">
        <img src="{{staff.image}}" alt=""> Availability
        <input type="date" class="form-control" value="">
      </div>
      <div class="col-md-9">
        <h3 ng-bind="staff.first_name + ' ' + staff.last_name"></h3>
        <hr>
        <p ng-bind="staff.description"></p>
        <ul>
          <h5>Skills</h5>
          <li ng-repeat="skill in staff.skills track by $index" ng-bind="skill"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
